appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.9
defusedxml==0.4.1
Django==1.9.6
django-allauth==0.25.2
django-filter==0.13.0
django-rest-auth==0.7.0
django-rest-swagger==0.3.7
djangorestframework==3.3.3
gnureadline==6.3.3
ipython==4.2.0
ipython-genutils==0.1.0
Markdown==2.6.6
oauthlib==1.1.1
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
python3-openid==3.0.10
PyYAML==3.11
requests==2.10.0
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
psycopg2==2.6.2
django-environ==0.4.0
ipdb==0.10.1